extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque tincidunt malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sodales tempor purus in rhoncus. Duis ante ligula, gravida in ante quis, volutpat porta ligula. In tincidunt tristique nulla et aliquet. Ut pharetra posuere augue vitae suscipit. Sed diam tortor, elementum nec mi nec, tincidunt eleifend nunc. Donec ullamcorper sit amet diam a vulputate. Curabitur in lacinia dui, fringilla scelerisque odio.

                p Vivamus pretium suscipit quam convallis dictum. Ut volutpat nunc quis tincidunt hendrerit. In quis purus ex. Nullam et auctor nibh. Aenean lorem velit, pulvinar et lobortis sed, dapibus id enim. Nulla bibendum eros nec ante vehicula feugiat. 

                p Nullam feugiat risus ac neque rutrum gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et mollis velit. Pellentesque egestas dui ac placerat eleifend. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas a facilisis tellus. Nullam nec urna eget elit vehicula semper nec quis felis. Maecenas volutpat, mauris in accumsan porta, enim odio blandit magna, ac pharetra diam arcu a est.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Maecenas a facilisis tellus. Nullam nec urna eget elit vehicula semper nec quis felis. Maecenas volutpat, mauris in accumsan porta, enim odio blandit magna, ac pharetra diam arcu a est.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Maecenas a facilisis tellus. Nullam nec urna eget elit vehicula semper nec quis felis. Maecenas volutpat, mauris in accumsan porta, enim odio blandit magna, ac pharetra diam arcu a est.